.header {
    height: 6rem;

    &__logo {
        height: 4rem;
    }
}

@include medium {
    .header { 
        height: 12rem;

        &__logo {
            height: 8rem;
        }
    }  
}

@include huge { 
    .header {
        height: 20rem;

        &__logo {
            height: 12rem;
        }
    }
}